@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(189, 224, 244);
    font-family:'poppins', sans-serif;
    color:#4e4f4f;
}
.container {
    border: solid white 3px;
    border-radius: 30px;
    background-color: white;
    height: 2000px;
    margin: 80px;
    box-shadow: 10px 10px 60px white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.member_section {
    border: solid black 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.memberheading{
    width: 25%;
    background-image: url("all1.jpg");
    background-size: cover;
    margin: 4px;
}
.images{
    max-height: 350px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    border: solid black 2px;
    width: 75%;
    overflow-x: auto;
    border-radius: 15px;
}
.images::-webkit-scrollbar{
    width: 0;
}
.img {
    border: solid black 2px;
    margin: 4px;
    height: 350px;
    min-width: 300px;
    margin-right: 2px;
background-image: url("imge1.jpeg");
background-size: cover;
border-radius: 15px;
box-shadow: 10px 10px 20px black;
}
.img:hover{
    transform: scale(1.1,1.1);
}
.apply{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagesnew{
    display: flex;
    gap: 20px;
    justify-content: center;
    border: solid black 2px;
    width: 75%;
    margin-left: 150px;
}
button{
    height: 80px;
    width: 400px;
    color:#4e4f4f;
    font-family:'poppins', sans-serif;
    border-radius: 15px;
    border-color: #4e4f4f;
    font-size: xx-large;
    box-shadow: 10px 10px 20px #4e4f4f;
}
.events{
    display: flex;
    gap: 20px;
    justify-content: center;
    border: solid black 2px;
    width: 75%;
    margin-left: 150px;
}
.event{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    margin: 0px;
    height: 40px;
    width: 300px; }
    .images2{
        max-height: 350px;
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        justify-content: space-between;
        border: solid black 2px;
        width: 75%;
        overflow-x: auto;
    }
    .images2::-webkit-scrollbar{
        width: 0;
    }
    .img {
        border: solid black 2px;
        margin: 4px;
        height: 350px;
        min-width: 300px;
        margin-right: 2px;
    background-image: url("imge1.jpeg");
    background-size: cover;
    
    }    
    .alumini_section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    justify-content: center;
    }